:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, #app {
  height: 100%;
}

.landing {
  height: 100%;
  width: 100%;

  main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.poker {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;

  [role=group] button {
    width: 50%;
  }

  .vote-panel-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    gap: .4em;

    button {
      width: 3em;
      height: 3em;

      padding: unset;

      &.selected {
        background-color: var(--pico-form-element-background-color);
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  table {
    border: var(--pico-border-width) solid var(--pico-table-border-color);
    border-radius: var(--pico-border-radius);

    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;

    th, td {
      width: 50%;
    }

    .average-row th, .average-row td {
      background-color: var(--pico-form-element-background-color);
    }
  }

  footer {
    margin-top: auto;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
